
<article>
    <h2>GIFT REGISTRIES</h2>

    <div class="registries">
        <a class="bedBathBeyond" target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13658514&pwsurl=">
            <img src="@Url.Content("Content/Images/BedBathAndBeyond.png")" />
        </a>
        <a class="kohls" target="_blank" href="http://www.kohls.com/upgrade/gift_registry/kohlsgrw_home.jsp?section=list&listid=2608978&viewtype=listview&isfromsearch=true&fname=Nicole&lname=Simon&regtype=registry.wedding,registry.baby,registry.splday&state=MI">
            <img src="@Url.Content("Content/Images/kohls-logo.png")" />
        </a>
    </div>
</article>
