
<div class="tabletFloatLeft">
    <a href="@Url.Action("TheChurch")" class="summaryCard wide">
        <img src="/Content/Images/TheChurch.png" alt="Jennifer Szynski">
        <h2>THE CHURCH</h2>
        <h3>Clear Springs Primitive Baptist</h3>
    </a>
</div>

<div class="detail">

    <h2 class="mobileHide">CLEAR SPRINGS PRIMITIVE BAPTIST</h2>
    <h3 class="address">
        <span>2201 Centerville Rd</span>
        <span>Spring Valley, Ohio 45370</span>
    </h3>

    <p>We will be getting married in Spring Valley at Clear Springs Primitive Baptist.  This is the same church that Ally got married in.</p>

</div>