
<div class="tabletFloatLeft">
    <a href="@Url.Action("TheReception")" class="summaryCard wide">
        <img src="/Content/Images/TheReception.png" alt="Newport Aquarium">
        <h2>THE RECEPTION</h2>
        <h3>Newport Aquarium</h3>
    </a>
</div>

<div class="detail">

    <h2 class="mobileHide">THE NEWPORT AQUARIUM</h2>
    <h3 class="address">
        <span>1 Aquarium Way</span>
        <span>Newport, KY 41071</span>
    </h3>

    <p>We have reserved the entire Newport Aquarium for our reception.  Guests will be able to explore the exhibits during the cocktail hour before our meal.  During the meal we will be dining in the spectacular Riverside room with a fabulous nighttime view of the Cincinnati skyline behind the head table.</p>

</div>