@model DateTime

<h2>@Html.DisplayFor(m => m)</h2>

<a href="@Url.Action("TheChurch")" class="summaryCard wide">
    <img src="/Content/Images/TheChurch.png" alt="Clear Springs Primitive Baptist">
    <h2>THE CHURCH</h2>
    <h3>Clear Springs Primitive Baptist</h3>
</a>

<a href="@Url.Action("TheReception")" class="summaryCard wide">
    <img src="/Content/Images/TheReception.png" alt="Newport Aquarium">
    <h2>THE RECEPTION</h2>
    <h3>The Newport Aquarium</h3>
</a>