<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Production</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>nicoleandjustinwedding.jschafer.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>HomeServer:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>NicoleAndJustinWedding</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JSWedding" Order="1" Enabled="False">
          <Destination Path="Data Source=jumpingsalamander.com\PRODUCTION;Initial Catalog=JSWedding;Persist Security Info=True;User ID=JSAppUser;Password=JSPassword;Asynchronous Processing=True" Name="data source=jumpingsalamander.com\PRODUCTION;initial catalog=JSWedding;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HomeServer\SANDBOX;Initial Catalog=JSWedding;Persist Security Info=True;User ID=JSAppUser;Password=JSPassword;Asynchronous Processing=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JSWedding_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=HomeServer\SANDBOX;initial catalog=JSWedding;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JSSupport" Order="2" Enabled="False">
          <Destination Path="Data Source=jumpingsalamander.com\PRODUCTION;Initial Catalog=JSSupport;Persist Security Info=True;User ID=JSAppUser;Password=JSPassword;Asynchronous Processing=True" Name="data source=jumpingsalamander.com\PRODUCTION;initial catalog=JSSupport;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HomeServer\SANDBOX;Initial Catalog=JSSupport;Persist Security Info=True;User ID=JSAppUser;Password=JSPassword;Asynchronous Processing=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JSSupport_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=HomeServer\SANDBOX;initial catalog=JSSupport;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JSSuite" Order="3" Enabled="False">
          <Destination Path="Data Source=jumpingsalamander.com\PRODUCTION;Initial Catalog=JSSuite;Persist Security Info=True;User ID=JSAppUser;Password=JSPassword;Asynchronous Processing=True" Name="data source=jumpingsalamander.com\PRODUCTION;initial catalog=JSSuite;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HomeServer\SANDBOX;Initial Catalog=JSSuite;Persist Security Info=True;User ID=JSAppUser;Password=JSPassword;Asynchronous Processing=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JSSuite_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=HomeServer\SANDBOX;initial catalog=JSSuite;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JSSuite-Web.config Connection String">
      <ParameterValue>data source=jumpingsalamander.com\PRODUCTION;initial catalog=JSSuite;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JSSupport-Web.config Connection String">
      <ParameterValue>data source=jumpingsalamander.com\PRODUCTION;initial catalog=JSSupport;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JSWedding-Web.config Connection String">
      <ParameterValue>data source=jumpingsalamander.com\PRODUCTION;initial catalog=JSWedding;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>