.fieldGroup {
  padding: 0;
  margin: 12px 0;
  display: inline-block;
  text-align: left;
}
.fieldGroup .field {
  padding-bottom: 5px;
}
.fieldGroup label {
  display: block;
}
.fieldGroup textarea {
  resize: none;
  height: 100px;
}
.fieldGroup input,
.fieldGroup textarea {
  width: 300px;
}
.fieldGroup .input-validation-error {
  outline: 3px solid #b41e1e;
}
.fieldGroup .field-validation-error {
  display: block;
  color: #b41e1e;
}
input[type=submit] {
  display: block;
  margin: auto;
  padding: 5px 20px;
}
