<article>
    <h2>DIRECTIONS</h2>

    <div class="directions">
        <a class="church" target="_blank" href="https://maps.google.com/maps?saddr=My+Location&daddr=2201+Centerville+Rd+Spring+Valley+OH+45370">
            <img src="@Url.Content("/Content/Images/TheChurch.png")" />
            <span>Clear Springs Primitive Baptist</span>
        </a>
        <a class="reception" target="_blank" href="https://maps.google.com/maps?saddr=My+Location&daddr=39.095791+-84.495528">
            <img src="@Url.Content("/Content/Images/TheReception.png")" />
            <span>Newport Aquarium</span>
        </a>
        <a class="garfield" target="_blank" href="https://maps.google.com/maps?saddr=My+Location&daddr=City+of+Cincinnati+Garfield+Garage">
            <img src="@Url.Content("/Content/Images/Garfield.png")" />
            <span>Garfield Suites Hotel</span>
        </a>
        <a class="comfortSuites" target="_blank" href="https://maps.google.com/maps?saddr=My+Location&daddr=Comfort+Suites+420+Riverboat+Row+Newport+KY+41071">
            <img src="@Url.Content("/Content/Images/ComfortInnAndSuites.png")" />
            <span>Comfort Suites</span>
        </a>
    </div>
</article>