a.contactUs {
  color: #45b3a2;
  margin-top: 20px;
  display: block;
}
article {
  border-bottom: 1px solid #45b3a2;
  padding: 0 0 6px;
}
article .byLine {
  font-style: italic;
  display: block;
}
article .byLine a {
  color: #ffffff;
  text-decoration: none;
}
article a {
  color: #45b3a2;
}
article ul {
  list-style: none;
}
