<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
  -->

  <appSettings>
    <add key="Environment" value="Production"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>

    <add name="JSSuite" providerName="System.Data.SqlClient" connectionString="data source=HomeServer\PRODUCTION;initial catalog=JSSuite;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true "
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="JSWedding" providerName="System.Data.SqlClient" connectionString="data source=HomeServer\PRODUCTION;initial catalog=JSWedding;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true "
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="JSSupport" providerName="System.Data.SqlClient" connectionString="data source=HomeServer\PRODUCTION;initial catalog=JSSupport;persist security info=True;user id=JSAppUser;password=JSPassword; Asynchronous Processing=true "
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTPS and Subdomain Redirect" stopProcessing="true" 
              xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^jumpingsalamander\.com$" negate="true" />
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://jumpingsalamander.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>