.loadingParent {
  position: relative;
}
.loadingParent .loading {
  background: rgba(255, 255, 255, 0.5) url(/Content/Common/Images/Loading.gif) no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
}