/*
@import this file directly into your existing Less files to use these mixins
*/
.grid {
  min-height: 100px;
}
.grid tr:not(.footable-row-detail) td {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
.grid .footer {
  margin-bottom: 20px;
  text-align: center;
}
.grid .footer:before,
.grid .footer:after {
  content: " ";
  display: table;
}
.grid .footer:after {
  clear: both;
}
.grid .pagination {
  margin-top: -10px;
}
.grid .resultCount {
  font-size: 100%;
}
@media (min-width: 500px) {
  .footer {
    padding: 0 20px;
  }
  .footer div:first-child {
    float: left;
  }
  .footer div:last-child {
    float: right;
  }
}
