/*
@import this file directly into your existing Less files to use these mixins
*/
html,
body {
  background-color: #000000;
}
h1 {
  text-align: center;
  font-size: 76px;
  font-family: 'Rancho';
  margin-top: 0;
  padding-top: 15px;
  -moz-animation-name: colorCycle;
  -o-animation-name: colorCycle;
  -webkit-animation-name: colorCycle;
  animation-name: colorCycle;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-duration: 20s;
  -o-animation-duration: 20s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
h1 span {
  margin: 0;
  padding: 0;
}
h1 a {
  color: inherit;
}
h1 a:hover {
  text-decoration: none;
  color: inherit;
}
h1,
.loginContent {
  z-index: 450;
  position: relative;
}
p {
  margin-bottom: 20px;
}
.loginContent {
  color: #999999;
}
.loginContent h2 {
  text-align: center;
}
.loginContent .btn {
  max-width: 200px;
}
.loginMessage {
  text-align: center;
  display: block;
}
.loginMessage span {
  padding-right: 10px;
}
button i.fa {
  padding-right: 6px;
}
#background {
  background: url(/Content/Images/Login/Background.png) repeat;
  z-index: 100;
  -moz-animation-duration: 120s;
  -o-animation-duration: 120s;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
}
#background:before {
  background: url(/Content/Images/Login/Midground.png) repeat;
  content: " ";
  z-index: 200;
  -moz-animation-duration: 100s;
  -o-animation-duration: 100s;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
}
#background:after {
  background: url(/Content/Images/Login/Foreground.png) repeat;
  content: " ";
  z-index: 300;
  -moz-animation-duration: 80s;
  -o-animation-duration: 80s;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}
#background,
#background:before,
#background:after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-animation-name: parallaxMove;
  -o-animation-name: parallaxMove;
  -webkit-animation-name: parallaxMove;
  animation-name: parallaxMove;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes parallaxMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 500px;
  }
}
@-moz-keyframes parallaxMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 500px;
  }
}
@-webkit-keyframes parallaxMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 15000px 5000px;
  }
}
@keyframes colorCycle {
  0% {
    color: skyblue;
    text-shadow: 2px 2px 2px purple;
  }
  25% {
    color: purple;
    text-shadow: 2px 2px 2px orange;
  }
  50% {
    color: orange;
    text-shadow: 2px 2px 2px green;
  }
  75% {
    color: green;
    text-shadow: 2px 2px 2px skyblue;
  }
  100% {
    color: skyblue;
    text-shadow: 2px 2px 2px purple;
  }
}
@-moz-keyframes colorCycle {
  0% {
    color: skyblue;
    text-shadow: 2px 2px 2px purple;
  }
  25% {
    color: purple;
    text-shadow: 2px 2px 2px orange;
  }
  50% {
    color: orange;
    text-shadow: 2px 2px 2px green;
  }
  75% {
    color: green;
    text-shadow: 2px 2px 2px skyblue;
  }
  100% {
    color: skyblue;
    text-shadow: 2px 2px 2px purple;
  }
}
@-webkit-keyframes colorCycle {
  0% {
    color: skyblue;
    text-shadow: 2px 2px 2px orange;
  }
  25% {
    color: purple;
    text-shadow: 2px 2px 2px green;
  }
  50% {
    color: orange;
    text-shadow: 2px 2px 2px skyblue;
  }
  75% {
    color: green;
    text-shadow: 2px 2px 2px purple;
  }
  100% {
    color: skyblue;
    text-shadow: 2px 2px 2px orange;
  }
}
@media (min-width: 680px) {
  h1 {
    font-size: 98px;
  }
}