/*
@import this file directly into your existing Less files to use these mixins
*/
button i.fa {
  padding-right: 6px;
}
.form-group.dataType-HiddenInput {
  display: none !important;
}
textarea.form-control {
  resize: none;
  height: 90px;
}
