/*
@import this file directly into your existing Less files to use these mixins
*/
.navbar,
.navbar .dropdown-menu {
  font-size: 16px;
  letter-spacing: 1px;
}
.navbar > .active > a,
.navbar .dropdown-menu > .active > a,
.navbar > .active > a:hover,
.navbar .dropdown-menu > .active > a:hover,
.navbar > .active > a:focus,
.navbar .dropdown-menu > .active > a:focus {
  background-color: #333333;
}
.navbar > .active > a:hover,
.navbar .dropdown-menu > .active > a:hover,
.navbar > .active > a:hover:hover,
.navbar .dropdown-menu > .active > a:hover:hover,
.navbar > .active > a:focus:hover,
.navbar .dropdown-menu > .active > a:focus:hover {
  background-color: #555555;
}
li.dropdown-brand {
  display: inline-block;
}
li.dropdown-brand .dropdown-toggle {
  display: inline-block;
}
li.dropdown-brand.open .dropdown-toggle.navbar-brand {
  background-color: #555555;
}
li.dropdown-brand.open .dropdown-menu {
  background-color: #333333;
}
.navbar-brand {
  font-family: 'Rancho';
  font-size: 28px;
  padding: 25px 15px !important;
  margin-left: 0 !important;
}
.navbar-brand.dropdown-toggle {
  float: none;
}
.navbar-brand:hover.Hub:before,
.navbar-brand:focus.Hub:before,
.navbar-brand:hover.Games:before,
.navbar-brand:focus.Games:before {
  /* You may have to set 'display: block' */
  width: 64px;
  height: 64px;
  background: url('/Content/Sprites/JSSprite.png') 0 -320px;
}
.navbar-brand:hover.Collections:before,
.navbar-brand:focus.Collections:before {
  /* You may have to set 'display: block' */
  width: 64px;
  height: 64px;
  background: url('/Content/Sprites/JSSprite.png') 0 -256px;
}
.navbar-brand:hover.Support:before,
.navbar-brand:focus.Support:before {
  /* You may have to set 'display: block' */
  width: 64px;
  height: 64px;
  background: url('/Content/Sprites/JSSprite.png') 0 -448px;
}
.navbar-brand:before {
  content: " ";
  display: block;
  float: left;
  margin-top: -22px;
  margin-right: 10px;
}
.navbar-brand.Hub:before,
.navbar-brand.Games:before {
  /* You may have to set 'display: block' */
  width: 64px;
  height: 64px;
  background: url('/Content/Sprites/JSSprite.png') 0 -64px;
}
.navbar-brand.Collections:before {
  /* You may have to set 'display: block' */
  width: 64px;
  height: 64px;
  background: url('/Content/Sprites/JSSprite.png') 0 0;
}
.navbar-brand.Support:before {
  /* You may have to set 'display: block' */
  width: 64px;
  height: 64px;
  background: url('/Content/Sprites/JSSprite.png') 0 -192px;
}
@media (max-width: 400px) {
  .navbar-brand {
    font-size: 24px;
  }
  .navbar-brand.title:before {
    display: none;
  }
}