
<div class="tabletFloatLeft">
    <a href="@Url.Action("TheChurch")" class="summaryCard wide">
        <img src="/Content/Images/Saint Mary's Catholic Church - Westphalia, MI.jpg" alt="">
        <h2>THE CHURCH</h2>
        <h3>Saint Mary's Catholic Church - Westphalia</h3>
    </a>
</div>

<div class="detail">

    <h2 class="mobileHide">Saint Mary's Catholic Church - Westphalia</h2>
    <h3 class="address">
        <span>201 North Westphalia Street</span>
        <span>Westphalia, MI 48894</span>
    </h3>

    <p>Father Anton Kopp of Germany was the first to celebrate Masses in September 1837. A two-room log house, built in March of 1838, served as the first church, followed by a log church with a larger frame in 1847. In 1869, that structure was replaced with a church constructed of brick from Westphalia’s brickyard and black walnut from its forest. This new church, dedicated as St. Mary’s Church, served the parish until a fire destroyed it in 1959. The present church, erected on the site of the original log church was dedicated on May 28, 1962, making it almost 52 years old. It is a classic Gothic-style church with 17 beautiful stained-glass windows.</p>

</div>