
<div class="tabletFloatLeft">
    <a href="@Url.Action("TheReception")" class="summaryCard wide">
        <img src="/Content/Images/KC Hall.jpg" alt="">
        <h2>THE RECEPTION</h2>
        <h3>Knights of Columbus Hall - Portland-</h3>
    </a>
</div>

<div class="detail">

    <h2 class="mobileHide">Knights of Columbus Hall - Portland</h2>
    <h3 class="address">
        <span>690 Maynard Rd</span>
        <span>Portland, MI ‎48875</span>
    </h3>

    <p></p>

</div>