@model DateTime

<h2>@Html.DisplayFor(m => m)</h2>

<a href="@Url.Action("TheChurch")" class="summaryCard wide">
    <img src="/Content/Images/Saint Mary's Catholic Church - Westphalia, MI.jpg" alt="">
    <h2>THE CHURCH</h2>
    <h3>Saint Mary's Catholic Church - Westphalia</h3>
</a>

<a href="@Url.Action("TheReception")" class="summaryCard wide">
    <img src="/Content/Images/KC Hall.jpg" alt="">
    <h2>THE RECEPTION</h2>
    <h3>Knights of Columbus Hall - Portland</h3>
</a>